################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ReviewAspNet/.vs/ReviewAspNet
/ReviewAspNet/MigrationDBApp/App_Data
/ReviewAspNet/ValiditationApp/App_Data
/ReviewAspNet/_ValidationApp
