
@{
    ViewBag.Title = "GetBook";
}

<h2>GetBook</h2>

<form method="post">
    <p>Write book title</p>
    <input type="text" name="title" />
    <p>Write Authors name</p>
    <input type="text" name="author" />
    <input type="submit" name="Save" />
</form>

@*<form method="post" action="PostBook">
    <p>Write book title</p>
    <input type="text" name="title" />
    <p>Write Authors name</p>
    <input type="text" name="author" />
    <input type="submit" name="Save" />
</form>*@

