@model AsyncTaskApp.Models.Book 

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@Html.Hidden("Book", Model)
<table>
    <tr><td>Model.Name</td></tr>
    <tr><td>Model.Author</td></tr>
    <tr><td>Model.Price</td></tr>

</table>

<p>Use this area to provide additional information.</p>
