@model CustomTemplateApp.Models.Book

    <table>
        <tr><td>Id:</td><td>@Model.Id</td></tr>
        <tr><td>Name:</td><td>@Model.Name</td></tr>
        <tr><td>Price:</td><td>@Model.Price Maeth</td></tr>
    </table>
        <hr/>
